<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785844512728-0j986l2bu3uakeeke4kehaq0j8t29kr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785844512728-0j986l2bu3uakeeke4kehaq0j8t29kr8</string>
	<key>API_KEY</key>
	<string>AIzaSyCy8ExPZi1iIIH6bzspjHGVniMs22fV7zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>785844512728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxialaanProvider</string>
	<key>PROJECT_ID</key>
	<string>taxialaanprovider</string>
	<key>STORAGE_BUCKET</key>
	<string>taxialaanprovider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785844512728:ios:4dc4a473299f1aa5cbf4ad</string>
	<key>DATABASE_URL</key>
	<string>https://taxialaanprovider.firebaseio.com</string>
</dict>
</plist>